<h1>I am the contact response thank you page. </h1>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Thank you for your inquiry!</h3>
                            <h2>We will be with you shortly. In the meantime, feel free to peruse the artwork.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>