<h1> I am the contact page </h1>
<div>
    <form id="contactForm" action="/tfe-website/contact/TheTransition" method="POST">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="firstName" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="lastName" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input name="emailAddress" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="contactNumber">Phone Number:</label>
            <input name="contactNumber" type="contactNumber" class="form-control" id="contactNumber">
        </div>
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input name="subject" type="subject" class="form-control" id="subject">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input name="description" class="form-control" id="description">
        </div>
        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
    </form>
    <script src="js/contact.js"></script>
</div>